portfolioClient/node_modules/
portfolioClient/.vercel
portfolioServer/.env
portfolioClient/build/
portfolioClient/Demo Video/
portfolioServer/.vercel
.gitignore
portfolioServer/node_modules
mintty.exe.stackdump
/.vscode/