/node_modules
/node_modules
.env
portfolioClient/.gitignore
.gitignore
portfolioClient/node_modules/.cache/default-development/4.pack
portfolioClient/node_modules/.cache/default-development/3.pack
portfolioClient/node_modules/.cache/default-development/8.pack
portfolioClient/node_modules/.cache/default-development/0.pack
portfolioClient/node_modules/.cache/default-development/9.pack
.vercel
