.nav-bar{
    background-color: #181818;
    width: 30%;
    height: 50px;
    position: absolute;
    top: 0;
    z-index: 3;  
    min-width: 400px; 
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    nav{
        display: inline-flex;
        gap: 10px;
        width: 50%;
        position: absolute;
        right: 50%;
        transform: translate(50%);



        a{
            font-size: 22px;
            color: #505075;
            display: flex;
            width: 50px;
            position: relative;
            text-decoration: none;

            i{
                transition: all 0.3s ease-out;
            }
            &:hover{
                color: #ffd700;

                svg{
                    opacity: 0;
                }
                &:after{
                    opacity: 1;
                }
            }
            &:after{
                content: '';
                font-size: 9px;
                letter-spacing: 2px;
                position: absolute;
                bottom: 0;
                display: block;
                width: 100%;
                text-align: center;
                opacity: 0;
                transition: all 0.3s ease-out;

            }
            &:first-child{
               &::after{
                content: 'Experience';
                font-size: 30px;
                transform: translateY(25px);
               }
            }

        }
        a.Services-link{
            &::after{
                content: 'Services' ;
                font-size: 30px;
                transform: translateY(25px);

            }
        }
        a.Testimonials-link{
            &::after{
                content: 'Testimonials' ;
                font-size: 30px;
                transform: translateY(25px);
            }
        }
         a.active{
            svg{
                color: #ffd700;
            }
         }
    }
}

